body {
	font-size: 20px;
	text-rendering: optimizeLegibility;
	line-height: 26px;
}

hr {
	margin-top: 10px;
}

.page-header {
	margin-bottom: 0px; /* instead of 30px */
}

#contact {
	color: #999999;
}

#about {
	margin-top: 30px;
	text-align: center;
}


#projects, #activities {
	margin-bottom: 40px;
}


#projects div.project-row, #stuff div.stuff-row, #activities div.activities-row {
	margin-bottom: 24px;
}

#projects div.project-row img, #stuff div.stuff-row img, #activities div.activities-row img{
	margin-top: 10px;
}



#activities ul.lifestream  {
	margin-left: 0;
	list-style: none;
}

#activities ul.lifestream li {
	/*line-height: 1.2em;*/
	padding: 5px 3px 5px 25px;
	background-repeat: no-repeat;
	background-position: left center;
}

#footer {
	margin-top: 40px;
	margin-bottom: 20px;
}

